<header class="w-full slanted-edge">
    <a href="#main" class="!absolute sr-only focus:not-sr-only border-4 p-4 bg-white">Skip to main content</a>
    <div class="container mx-auto pt-6 items-center">
        <h1 class="sr-only">{{ page.title }} - {{ site.title }}</h1>
        <nav class="flex justify-end">
            <ul class="inline-flex gap-4 mx-4 text-white">
                <li><a href="/">Home</a></li>
                <li><a href="">Resume/CV</a></li>
                <li><a href="mailto:vincevince1006@gmail.com">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>