<header class="w-full slanted-edge">
    <p><a href="#main" class="sr-only focus:not-sr-only border-4 p-4 bg-white">Skip to main content</a></p>
    <div class="container mx-auto pt-8 items-center">
        <h1 class="sr-only">{{ page.title }} - {{ site.title }}</h1>
        <nav class="flex justify-end">
            <ul class="inline-flex gap-4">
                <li>Portfolio</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>
</header>