---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #78290F;
        --color-text: #06121A;
        --color-links: #145b66;
    }
    html {
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: var(--color-text);
        font-size: 16.8px;
    }
    body {
        background-size: 40px 40px;
        background-image: radial-gradient(circle, #95959544 1px, rgba(0, 0, 0, 0) 1px);
    }
    p {
        line-height: 1.5rem;
    }
    h2 {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    h3 {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    h4 {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}

header a {
    text-decoration: none;
    color: white;
}

.slanted-edge {
    --p: 70px;
    height: 100px;
    aspect-ratio: 1;
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - var(--p)));
    background: var(--color-text);
}

.slanted-edge--reverse {
    --p: 70px;
    height: 180px;
    width: 100%;
    aspect-ratio: 1;
    clip-path: polygon(0 0, 100% var(--p), 100% 100%, 0 100%);
}

.decorative-divider {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(120,41,15,1) 52%, rgba(79,93,117,1) 86%);
    height: 0.5rem;
    width: 100%;
}

.case-study__section-body p {
    margin-bottom: 1rem;
}

.case-study__section-body a {
    text-decoration: underline;
    color: var(--color-links);
}

.case-study__img:hover {
    cursor: url("/assets/images/link.png"), auto;
}
