---
layout: default
---

<section class="max-w-5xl flex flex-col my-4 mx-4 md:mx-auto">
<div class="container mx-auto my-4">

<p class="my-4"><small><a class="underline text-teal" href="/">&larr; Back to Portfolio</a></small></p>

<section>
    <ul class="flex flex-row flex-wrap my-4">
        {% for tag in page.tags %}
            <li class="px-2 mr-4 mb-2 bg-slate-100 rounded-lg border-gray-200 border"><small>{{ tag }}</small></li>
        {% endfor %} 
    </ul>
<p class="mb-2"><small class="font-bold text-primary">{{ page.year }}</small></p>
<h2 class="font-heading">{{ page.title }}</h2>
</section>

<section class="lg:w-3/5 my-6">
    {% if page.link %}
        <p><a href="{{ page.link }}">{{ page.link }}</a></p>
    {% endif %}
    <blockquote class="mb-6 mt-0 text-xl/8 text-gray-700">{{ page.callout }}</blockquote>
    <h4 class="mb-4">Project Background</h4>
    <p>{{ page.summary | markdownify  }}</p>
</section>

{% if page.process %}
<section>
    <div class="mt-10">
        <h3 class="font-heading my-4">Design Process</h3>
        {% for x in page.process %}
        <div class="flex flex-col pb-6 gap-4 case-study__section-body">
        <h4 class="mb-2">{{ x.phase }}</h4>
        <div class="flex md:flex-row flex-col gap-x-6">
            <div class="md:w-2/5 w-full pr-4">{{ x.description | markdownify }}</div>
            <div class="md:w-3/5 w-full pt-6 md:pt-0 md:px-4">
                <h5 class="font-semibold mb-2 content-center">Findings</h5>
                <ul class="list-disc px-6">
                    {% for y in x.findings %}
                        <li>{{ y | markdownify }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if x.image1 %}
        <div class="flex md:flex-row flex-col gap-x-6 justify-center">
            <div class="{% if x.image2 %}md:w-2/4{% else %}md:w-3/4{% endif %} my-4 px-4">
                <img src="{{ x.image1 }}"/>
            </div>
            {% if x.image2 %}
            <div class="md:w-2/4 my-4 px-4">
                <img src="{{ x.image2 }}"/>
            </div>
            {% endif %}
        </div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

</div>
</section>

