---
layout: default
---

<section class="max-w-7xl flex flex-col my-4 mx-4 md:mx-auto">
<div class="container mx-auto my-4">

<p class="my-4"><small><a class="underline text-teal" href="/">&larr; Back to Portfolio</a></small></p>

<section>
    <ul class="flex flex-row flex-wrap my-4">
        {% for tag in page.tags %}
            <li class="px-2 mr-4 mb-2 bg-slate-100 rounded-lg border-gray-200 border"><small>{{ tag }}</small></li>
        {% endfor %} 
    </ul>
</section>

<h2 class="font-heading">{{ page.title }}</h2>
    <div class="flex flex-row">
    <p class="mt-2 mr-4"><span class="font-bold text-primary">{{ page.year }}</span></p>
    {% if page.link %}
    <p class="mt-2"><a class="underline text-teal" href="{{ page.link }}">Visit Website</a></p>
    {% endif %}
    </div>
<p class="lg:w-3/5 mb-6 mt-4 site-text-lg text-gray-700">{{ page.context }}</p>

<section class="flex flex-col lg:flex-row">
    <div class="w-full lg:w-3/5 my-4 pr-8">
        <h4 class="mb-4">Background</h4>
        <p>{{ page.summary | markdownify }}</p>
        <h4 class="my-4">Successes</h4>
        <p>{{ page.noted-successes | markdownify }}</p>
    </div>

    {% comment %} <div class="modern-card h-full lg:w-2/5 border-dashed border-2 border-gray-200">
    <div class="card-content p-8">
        <div>
            <div class="mb-4">
                <h5 class="font-bold"><span class="text-gray-400 italic mr-1">Role</span> {{ page.role }}</h5>
            </div>
            <div class="mb-2">
                <p class="mb-1 text-gray-700"><span class="text-gray-400 italic mr-1">Client</span> {{ page.client }}</p>
            </div>
            <div class="mb-2">
                <p class="mb-1 text-gray-700"><span class="text-gray-400 italic mr-1">Primary Users</span> {{ page.users }}</p>
            </div>
            <div class="mb-2">
                <p class="mb-1 text-gray-700"><span class="text-gray-400 italic mr-1">Team</span> {{ page.team }}</p>
            </div>
        </div>
    </div> 
    </div>
    {% endcomment %}
</section>

{% if page.process %}
<section>
    <div class="mt-10">
        <h3 class="font-heading my-4">Design Process</h3>
        {% for x in page.process %}
        <div class="flex flex-col pb-6 gap-4 case-study__section-body">
        <h4 class="my-2">{{ x.phase }}</h4>
        <div class="flex md:flex-row flex-col gap-x-6">
            <div class="md:w-2/5 w-full pr-4">{{ x.description | markdownify }}</div>
            <div class="md:w-3/5 w-full pt-6 md:pt-0 md:px-4">
                <h5 class="font-semibold mb-2 content-center">Findings</h5>
                <ul class="list-disc px-6">
                    {% for y in x.findings %}
                        <li>{{ y | markdownify }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if x.image1 %}
        <div class="flex md:flex-row flex-col gap-x-6 justify-center">
            <div class="{% if x.image2 %}md:w-2/4{% else %}md:w-3/4{% endif %} my-4 px-4">
                <a href="{{ x.image1 }}"><img class="case-study__img md:max-w-md" src="{{ x.image1 }}"/></a>
            </div>
            {% if x.image2 %}
            <div class="md:w-2/4 my-4 px-4">
                <a href="{{ x.image2 }}"><img class="case-study__img md:max-w-md" src="{{ x.image2 }}"/></a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% if page.lessons %}
    <div class="mt-10">
        <h3 class="font-heading my-4">What I learned, and would do differently</h3>
    </div>
{% endif %}

</div>
</section>

